* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(247, 247, 247);
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-data-container {
  border: 1px solid #ccc;
  background: white;
  border-radius: 0.5rem;
  width: 80%;
}

.App-header {
  height: 3.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.App-header-title {
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 1rem;
}

.App-main {
  margin-top: 1rem;
}

@media screen and (max-width: 760px) {
  .App-data-container {
      display: block;    
      width: 100%;
  }
}